* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}
.kitten-list {
  margin-top: 50px;
  margin-bottom: 50px;
}
